@model BaseballLeague.Models.League

@{
    ViewBag.Title = "GetAllTeams";
}
<br/>
<p>@Html.ActionLink("Return to Home", "Index", "Home")</p>
@Html.ActionLink("Create A Team", "CreateATeam", "Home", null, new {@class=" btn btn-primary"})

@*{
    <button type="submit" class="btn btn-primary">Add a New team</button>
}*@

<h2>@Model.LeagueName Teams</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Team</th>
                <th>Manager</th>
            </tr>
            @foreach (var team in Model.Teams)
            {
                <tr>
                    <td><a href="/Home/ViewTeam/@team.TeamID">@team.TeamName</a></td>
                    <td>@team.ManagerName</td>
                </tr>
            }
        </table>
    </div>
</div>