@model BaseballLeague.UI.Models.PlayerToTradeVM

@{
    ViewBag.Title = "TradeAPlayer";
}

<p>@Html.ActionLink("Back to Teams", "GetAllTeams", "Home")</p>

<h2>Trade a Player</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("TradeAPlayerPost", "Home", FormMethod.Post))
        {
            <p>
                @Html.Hidden("player.PlayerID", Model.player.PlayerID)
                Name: @Model.player.FirstName @Model.player.LastName
            </p>
            <p>
                Current Team: @Model.player.TeamName
            </p>
            <p>
                New Team: @Html.DropDownList("team.TeamID", Model.teams)
            </p>

            <br/>
            <br/>
            <br/>
            <br/>

            <button type="submit" class="btn btn-warning">Execute Trade</button>
        }
    </div>
</div>