@model BaseballLeague.Models.Team
@{
    ViewBag.Title = "ViewTeam";
}
<p></p>
<p>@Html.ActionLink("Return to Teams", "GetAllTeams", "Home")</p>

<h2>@Model.TeamName</h2>
@Html.ActionLink("Add New Player", "CreateNewPlayer", "Home", null, new {@class="btn btn-primary"})


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Jersey Number</th>
                <th>Years Player</th>
                <th>Batting Avg</th>
                <th>Earned Run Avg</th>
                <th>Remove Player</th>
                <th>Trade Player</th>
            </tr>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.PositionName</td>
                    <td>@player.JerseyNumber</td>
                    <td>@player.YearsPlayed</td>
                    <td>@player.BattingAvg</td>
                    <td>@player.EarnedRunAvg</td>
                    <td>@Html.ActionLink("Delete", "DeleteAPlayer", "Home", new {id = player.PlayerID}, null)</td>
                    <td>@Html.ActionLink("Trade", "TradeAPlayer", "Home", new {id = player.PlayerID, teamID = Model.TeamID}, null)</td>
                </tr>
            }
        </table>
    </div>
</div>

